@model ConexaoVerde.Web.Models.UsuarioModel

<section class="py-10 my-auto">
    <div class="lg:w-[80%] md:w-[90%] xs:w-[96%] mx-auto flex gap-4">
        <div class="lg:w-[88%] md:w-[80%] sm:w-[88%] xs:w-full mx-auto shadow-2xl p-4 rounded-xl h-fit self-center">
            <div>
                <h1 class="lg:text-3xl md:text-2xl sm:text-xl xs:text-xl font-serif font-extrabold mb-2">Perfil</h1>
                <h2 class="text-grey text-sm mb-4">Seu Perfil</h2>
                <form id="profileForm">
                    <!-- Cover Image -->
                    <div class="w-full rounded-sm bg-[url('https://i.imgur.com/GO9IFWt.jpeg')] bg-cover bg-center bg-no-repeat items-center">
                        <!-- Verifica se Fotoperfil não está vazio e exibe a imagem -->
                        <div class="mx-auto flex justify-center items-center w-[120px] h-[120px] bg-blue-300/20 rounded-full" id="profileImage">
                            @if (Model.FotoPerfil is { Length: > 0 })
                            {
                                var base64Image = Convert.ToBase64String(Model.FotoPerfil);
                                <img src="data:image/png;base64,@base64Image" alt="Profile Picture" class="w-full h-full max-w-[120px] max-h-[120px] object-cover rounded-full">
                            }
                            else
                            {
                                <img src="~/images/profile_pic.png" alt="Default Profile Picture" class="w-full h-full max-w-[120px] max-h-[120px] object-cover rounded-full">
                            }
                        </div>
                    </div>
                    @if (Model.Perfil == "Cliente")
                    {
                        <h2 class="text-center mt-1 font-semibold">@Model.ClienteModel.Nome @Model.ClienteModel.Sobrenome</h2>
                    }
                    else
                    {
                        <h2 class="text-center mt-1 font-semibold">@Model.FornecedorModel.RazaoSocial</h2>
                    }

                    <!-- Campo de Upload de Imagem -->
                    <div class="w-full mt-4">
                        <label for="imageUpload" class="block mb-2">Alterar Foto de Perfil</label>
                        <input type="file" id="imageUpload" name="Fotoperfil" class="mt-2 p-4 w-full border-2 rounded-lg" accept="image/*">
                    </div>

                    <!-- Campos do Perfil -->
                    @if (Model.Perfil == "Cliente")
                    {
                        <div class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
                            <div class="w-full mb-4 mt-6">
                                <label for="firstName" class="mb-2">Primeiro Nome</label>
                                <input type="text" id="firstName" name="FirstName"
                                       value="@Model.ClienteModel.Nome"
                                       class="mt-2 p-4 w-full border-2 rounded-lg"
                                       placeholder="Primeiro Nome" readonly>
                            </div>
                            <div class="w-full mb-4 lg:mt-6">
                                <label for="lastName" class="mb-2">Sobrenome</label>
                                <input type="text" id="lastName" name="LastName"
                                       value="@Model.ClienteModel.Sobrenome"
                                       class="mt-2 p-4 w-full border-2 rounded-lg"
                                       placeholder="Sobrenome" readonly>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
                            <div class="w-full mb-4 mt-6">
                                <label class="mb-2">Razão Social</label>
                                <input type="text" id="razaosocial" name="RazaoSocial"
                                       value="@Model.FornecedorModel.RazaoSocial"
                                       class="mt-2 p-4 w-full border-2 rounded-lg"
                                       placeholder="Razão Social" readonly>
                            </div>
                            <div class="w-full mb-4 lg:mt-6">
                                <label class="mb-2">Nome Fantasia</label>
                                <input type="text" id="nomefantasia" name="NomeFantasia"
                                       value="@Model.FornecedorModel.NomeFantasia"
                                       class="mt-2 p-4 w-full border-2 rounded-lg"
                                       placeholder="Nome Fantasia" readonly>
                            </div>
                        </div>
                    }

                    <div class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
                        <div class="w-full mb-4 lg:mt-6">
                            <label for="email" class="mb-2">Email</label>
                            <input type="text" id="email" name="Email"
                                   value="@Model.Email"
                                   class="mt-2 p-4 w-full border-2 rounded-lg"
                                   placeholder="Email" readonly>
                        </div>
                        @if (Model.Perfil == "Cliente")
                        {
                            <div class="w-full mb-4 lg:mt-6">
                                <label class="mb-2">CPF</label>
                                <input type="text" id="cpf" name="Cpf"
                                       value="@Model.ClienteModel.Cpf"
                                       class="mt-2 p-4 w-full border-2 rounded-lg"
                                       placeholder="CPF" readonly>
                            </div>
                        }
                        else
                        {
                            <div class="w-full mb-4 lg:mt-6">
                                <label class="mb-2">CNPJ</label>
                                <input type="text" id="cnpj" name="CNPJ"
                                       value="@Model.FornecedorModel.Cnpj"
                                       class="mt-2 p-4 w-full border-2 rounded-lg"
                                       placeholder="CNPJ" readonly>
                            </div>
                        }
 
                    </div>

                    <!-- Botão para Editar -->
                    <div class="w-full mt-4">
                        <button type="button" id="editProfileBtn"
                                class="w-full p-4 text-lg font-semibold bg-gray-600 text-white">
                            Editar Perfil
                        </button>
                    </div>

                    <!-- Botão para Salvar (aparece depois de editar) -->
                    <div class="w-full mt-4" id="saveButton" style="display:none;">
                        <button type="submit" class="w-full p-4 text-lg font-semibold bg-green-500 text-white">Salvar Mudanças</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('imageUpload').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                // Atualiza a imagem de perfil com a nova imagem selecionada
                document.getElementById('profileImage').style.backgroundImage = `url(${e.target.result})`;
            };
            reader.readAsDataURL(file); // Lê a imagem selecionada
        }
    });

    document.getElementById('editProfileBtn').addEventListener('click', function () {
        const clientFields = ['firstName', 'lastName', 'email', 'cpf'];
        const supplierFields = ['razaosocial', 'nomefantasia', 'email', 'cnpj'];

        const fields = [...clientFields, ...supplierFields].filter(id => document.getElementById(id));

        fields.forEach(id => {
            const field = document.getElementById(id);
            if (field) {
                field.readOnly = false;
            }
        });

        const saveButton = document.getElementById('saveButton');
        if (saveButton) {
            saveButton.style.display = 'block';
        }

        const editButton = document.getElementById('editProfileBtn');
        if (editButton) {
            editButton.style.display = 'none';
        }
    });
</script>

<script>
    window.onload = function() {
        const profileImage = document.querySelector("#profileImage img");

        if (profileImage) {
            profileImage.style.maxWidth = "120px";
            profileImage.style.maxHeight = "120px";
            profileImage.style.objectFit = "cover";
        }
    };
</script>